/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
.links-style {
  text-decoration: none;
}

.blue {
  color: #08c;
}

.change-button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.3);
}

.underline-text:hover {
  text-decoration: underline;
}

/* Body */
body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1436px;
  margin: 0 auto;
}

/* Navigation Bar */
.first-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  background-image: url(/assets/main-image2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
}

.global-header {
  background: -webkit-gradient(linear, 0 0, 0 100%, 
    from(rgba(0, 0, 0, 0.2)), 
    color-stop(0.05, rgba(0, 0, 0, 0)), 
    color-stop(0.97, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, 0.45))),
  
    -webkit-gradient(linear, 0 0, 100% 0, 
    from(rgba(0, 0, 0, 0.2)), 
    color-stop(0.002, rgba(0, 0, 0, 0)), 
    color-stop(0.998, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, 0.2))), 
  
    -webkit-gradient(linear, 0 100%, 0 0, 
    from(#666), 
    color-stop(0.5, #5e5e5e), 
    color-stop(0.51, #707070), 
    to(#808080));
  display: flex;
  flex-flow: row nowrap;
  width: 980px;
  height: 36px;
  border-radius: 6px;
  box-shadow: rgb(0, 0, 0, 0.3) 0 1px 2px;
  margin-top: 40px;
  position: relative;
  top: 46px;
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.nav-bar li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid rgb(116, 110, 110);
  width: 100%;
  height: 100%;
}

.nav-bar a {
  font-size: 13px;
  color: white;
}

.nav-item1 img {
  width: 20px;
}

.nav-search {
  padding: 8px 13px;
}

.nav-search label {
  display: none;
}

.search-bar {
  width: 100%;
  height: 19px;
  padding: 2px 18px 1px 22px;
  border: 0 none;
  border-radius: 12px;
  background: url(/assets/globalsearch_field.png);
  color: #fff;
}

/* First Container */

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 980px;
  height: 500px;
}

.main-content {
  width: 980px;
}

.main-content a {
  color: white;
}

.title {
  font-size: 55px;
  padding-bottom: 20px;
}

.sub-title {
  font-size: 28px;
  padding-bottom: 30px;
  line-height: 36px;
}

.bottom-title {
  font-size: 24px;
}

/* Second Container - ASIDE */

.second-container {
  width: 1436px;
  margin-top: 2px;
}

.promos {
  display: grid;
  max-width: 1436px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2px;
}

.promos img {
  width: 100%;
}

/* footer */

.footer {
  min-width: 980px;
  width: 100%;
  height: 100px;
  color: #6c6c6c;
  text-align: center;
  background-color: white;
}

.wraper {
  display: grid;
  grid-template-columns: 48% 1fr;
  grid-template-rows: 2fr;
  margin: 0 auto;
  width: 980px;
}

.left {
  font-size: 11px;
  text-align: left;
  margin-top: 30px;
}
.right {
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  margin-top: 30px;
}

.right a {
  padding-left: 11px;
}

.right img {
  width: 16px;
}

.bottom-left {
  margin-top: 15px;
  text-align: left;
  font-size: 11px;
}